---
import Hero from '../components/Hero.astro';
import LayoutSection from '../components/LayoutSection.astro';
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Experiencia from '../components/Experiencia.astro';
import CardProjects from '../components/CardProjects.astro';
import TitleSeparator from '../components/TitleSeparator.astro';
import ShortTitle from '../components/ShortTitle.astro';
import CardCertification from '../components/CardCertification.astro';

import AnaliticsIcon from '../components/icons/Analitics.astro';
import AstroIcon from '../components/icons/AstroI.astro';
import FrontendIcon from '../components/icons/Frontend.astro';
import TailwindIcon from '../components/icons/TailwindI.astro';
import TypescriptIcon from '../components/icons/TypescriptI.astro';
import PHPIcon from '../components/icons/PHP.astro';
import ProgramationIcon from '../components/icons/Programation.astro';
import Faq from '../components/Faq.astro';


const CERTIFICATIONS = [{
    title: ' Analista de Sistemas – Instituto del Milagro',
    description: 'Tengo formación en análisis y diseño de sistemas para estructurar soluciones tecnológicas eficientes.',
    Icon: AnaliticsIcon
}, {
    title: 'Programador – Instituto del Milagro',
    description: 'Cuento con bases sólidas en lenguajes y paradigmas de programación para desarrollar proyectos de alto rendimiento.',
    Icon: ProgramationIcon
}, {
    title: 'Desarrollo Backend con PHP',
    description: 'Me especializo en PHP, creando sistemas robustos, personalizados y enfocados en resultados.',
    Icon: PHPIcon
}, {
    title: 'Frontend con HTML, CSS y JavaScript',
    description: 'Domino las tecnologías clave del frontend para diseñar interfaces atractivas y funcionales.',
    Icon: FrontendIcon
}, {
    title: 'Astro – Certificación Midudev',
    description: 'Estoy certificado en Astro, una tecnología innovadora para sitios rápidos y optimizados.',
    Icon: AstroIcon
}, {
    title: 'Tailwind CSS – Certificación Midudev',
    description: 'Uso Tailwind CSS para crear diseños únicos con rapidez y precisión.',
    Icon: TailwindIcon
}, {
    title: 'TypeScript – Certificación Midudev',
    description: 'Conozco TypeScript a fondo, asegurando código seguro y escalable para proyectos serios.',
    Icon: TypescriptIcon
}];

const PROJECTS = [{
    image: 'edteam.webp',
    tags: ['HTML', 'CSS', 'Javascript'],
    title: 'Venta de Cursos Online',
    description: 'Plataforma intuitiva que facilita la compra de cursos, asegurando una experiencia de usuario fluida y efectiva.',
    url: 'https://ed.team'
}, {
    image: 'microsoft.webp',
    tags: ['HTML', 'CSS'],
    title: 'Landing Page de Microsoft',
    description: 'Landing optimizada para captar atención y convertir visitantes rápidamente.',
    url: 'https://microsoft.com'
}, {
    image: 'servicios.webp',
    tags: ['HTML', 'CSS'],
    title: 'Página de Ventas de Servicios Online',
    description: 'Página diseñada para maximizar conversiones con un enfoque claro en la confianza y la acción.',
    url: 'https://servicios.com'
}, {
    image: 'tienda.webp',
    tags: ['HTML', 'CSS', 'Javascript'],
    title: 'Landing Page de Producto',
    description: 'Página optimizada para mostrar un producto y facilitar la compra con información clave y clara.',
    url: 'https://tienda.com'
}, {
    image: 'travel.webp',
    tags: ['HTML', 'CSS', 'Javascript'],
    title: 'Portafolio de Viajes por el Mundo',
    description: 'Portafolio visualmente atractivo que convierte curiosos en seguidores leales.',
    url: 'https://travel.com'
}, {
    image: 'youtube.webp',
    tags: ['HTML', 'CSS', 'Javascript', 'PHP'],
    title: 'Página de Ventas para Restaurante',
    description: 'Página diseñada para facilitar pedidos con un enfoque visual atractivo y proceso sencillo.',
    url: 'https://youtube.com'
}]
---

<Layout>   
    <div class="py-32"> 
        <LayoutSection styles="lg:grid-cols-5">
            <Hero title="Tu marca está lista para el siguiente nivel" description="Con una web diseñada para destacar, atraerás clientes y dominarás tu sector. No te quedes atrás." />
        </LayoutSection>
    </div>

    <Banner />

    <div class="py-32"> 
        <TitleSeparator title="Diseños que hablan el idioma del " color="éxito de tu marca" paragraph="Un diseño que refleja la esencia de tu marca, atrae a tu público y convierte visitas en clientes. Tu éxito empieza con una presencia digital impactante." />
        <LayoutSection styles="md:grid-cols-2 lg:grid-cols-2 items-stretch">
            <Experiencia />
        </LayoutSection>
    </div>
    
    <div class="bg-gray-200 py-32">
        <TitleSeparator title="Proyectos que convierten " color="visitantes en clientes" paragraph="Cada uno de estos proyectos está diseñado para generar resultados. Funcionalidad, diseño innovador y conversión efectiva son las claves que definen mi trabajo." />
        <LayoutSection styles="sm:grid-cols-2 md:grid-cols-3 gap-10 items-stretch ">
            {
                PROJECTS.map(project => (
                    <CardProjects url={project.url} image={project.image} tags={project.tags} title={project.title} description={project.description} />
                ))
            }
        </LayoutSection>
    </div>

    <div class="py-32 bg-violet-200">
        <ShortTitle title="Formación y experiencia que respaldan tu confianza" description="Cada conocimiento que tengo está enfocado en lo que tu negocio necesita para destacar. Estoy preparado para superar tus expectativas y llevar tu marca al siguiente nivel." estilos="text-violet-900"/>
        <LayoutSection styles="sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 lg:gap-16 items-stretch">
            {CERTIFICATIONS.map(certification => (
                <CardCertification title={certification.title} description={certification.description} Icon={certification.Icon}/>
            ))}
        </LayoutSection>
    </div>

    <div class="py-32 bg-white">
        <ShortTitle title="Dar el paso puede generar dudas..." description="Aquí te respondo las preguntas más comunes para que te sientas completamente tranquilo al elegir mis servicios. Tu éxito está a solo un clic de distancia." estilos="text-slate-900"/>
        <LayoutSection>
            <Faq />
        </LayoutSection>
    </div>
    
</Layout>
