---
import Hero from '../components/Hero.astro';
import LayoutSection from '../components/LayoutSection.astro';
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Experiencia from '../components/Experiencia.astro';
import SliderProjects from '../components/SliderProjects.astro';
import TitleSeparator from '../components/TitleSeparator.astro';
import ShortTitle from '../components/ShortTitle.astro';
import CardCertification from '../components/CardCertification.astro';
import Information from '../components/Information.astro';

import AnaliticsIcon from '../components/icons/Analitics.astro';
import AstroIcon from '../components/icons/AstroI.astro';
import FrontendIcon from '../components/icons/Frontend.astro';
import TailwindIcon from '../components/icons/TailwindI.astro';
import TypescriptIcon from '../components/icons/TypescriptI.astro';
import PHPIcon from '../components/icons/PHP.astro';
import ProgramationIcon from '../components/icons/Programation.astro';
import Faq from '../components/Faq.astro';

import CopywritingIcon from '../components/icons/Copywriting.astro';
import MockupIcon from '../components/icons/Mockup.astro';
import SeoIcon from '../components/icons/Seo.astro';
import ResponsiveIcon from '../components/icons/Responsive.astro';
import SupportIcon from '../components/icons/Support.astro'

const INFORMATION = [
  {
    title: 'Copywriting Persuasivo',
    description: 'Textos que hablan directamente al corazón de tus clientes.',
    Icon: CopywritingIcon
}, {
    title: 'Mockups Personalizados',
    description: 'Cada mockup refleja el alma de tu negocio, destacando de la competencia.',
    Icon: MockupIcon
}, {
    title: 'Optimización para SEO',
    description: 'Estructura para que seas la primera opción de tus clientes.',
    Icon: SeoIcon
}, {
    title: 'Diseño Responsive',
    description: 'Diseño que asegura que tu página se vea impecable y funcional en cualquier pantalla, sin excepciones.',
    Icon: ResponsiveIcon
}
, {
    title: 'Soporte Integral',
    description: 'Me aseguro de que siempre funcione perfectamente. Mientras tú te encargas de tu negocio.',
    Icon: SupportIcon
}
]

const CERTIFICATIONS = [{
    title: ' Analista de Sistemas – Instituto del Milagro',
    description: 'Tengo formación en análisis y diseño de sistemas para estructurar soluciones tecnológicas eficientes.',
    Icon: AnaliticsIcon
}, {
    title: 'Programador – Instituto del Milagro',
    description: 'Cuento con bases sólidas en lenguajes y paradigmas de programación para desarrollar proyectos de alto rendimiento.',
    Icon: ProgramationIcon
}, {
    title: 'Desarrollo Backend con PHP',
    description: 'Me especializo en PHP, creando sistemas robustos, personalizados y enfocados en resultados.',
    Icon: PHPIcon
}, {
    title: 'Frontend con HTML, CSS y JavaScript',
    description: 'Domino las tecnologías clave del frontend para diseñar interfaces atractivas y funcionales.',
    Icon: FrontendIcon
}, {
    title: 'Astro – Certificación Midudev',
    description: 'Estoy certificado en Astro, una tecnología innovadora para sitios rápidos y optimizados.',
    Icon: AstroIcon
}, {
    title: 'Tailwind CSS – Certificación Midudev',
    description: 'Uso Tailwind CSS para crear diseños únicos con rapidez y precisión.',
    Icon: TailwindIcon
}, {
    title: 'TypeScript – Certificación Midudev',
    description: 'Conozco TypeScript a fondo, asegurando código seguro y escalable para proyectos serios.',
    Icon: TypescriptIcon
}];
---

<Layout>   
    <div class="pt-24 pb-6" id="inicio"> 
        <LayoutSection styles="lg:grid-cols-5">
            <Hero title="Desarrollo de páginas web profesionales para hacer crecer tu negocio" description="Con una web diseñada para destacar, atraerás clientes y dominarás tu sector. No te quedes atrás." />
        </LayoutSection>  
    </div>

    <div class="py-16">
        <LayoutSection styles="md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-16 items-stretch">
            {
                INFORMATION.map(information => (
                    <Information title={information.title} description={information.description} Icon={information.Icon} />
                ))
            }
        </LayoutSection>
    </div>

    <div class="py-24" id="experiencia"> 
        <TitleSeparator title="Diseños que hablan el idioma del " color="éxito de tu marca" paragraph="Un diseño que refleja la esencia de tu marca, atrae a tu público y convierte visitas en clientes. Tu éxito empieza con una presencia digital impactante." />
        <LayoutSection styles="md:grid-cols-2 lg:grid-cols-2 items-stretch">
            <Experiencia />
        </LayoutSection>
    </div>
    
    <div class="bg-gray-200 py-32" id="proyectos">
        <TitleSeparator title="Proyectos que convierten " color="visitantes en clientes" paragraph="Cada uno de estos proyectos está diseñado para generar resultados. Funcionalidad, diseño innovador y conversión efectiva son las claves que definen mi trabajo." />
        <LayoutSection>
            <SliderProjects />
        </LayoutSection>
    </div>

    <div class="py-24 bg-white" id="preguntas">
        <ShortTitle title="Dar el paso puede generar dudas..." description="Aquí te respondo las preguntas más comunes para que te sientas completamente tranquilo al elegir mis servicios. Tu éxito está a solo un clic de distancia." estilos="text-slate-900"/>
        <LayoutSection>
            <Faq />
        </LayoutSection>
    </div>

    <div class="py-24 bg-indigo-100" id="certificaciones">
        <ShortTitle title="Formación y experiencia que respaldan tu confianza" description="Cada conocimiento que tengo está enfocado en lo que tu negocio necesita para destacar. Estoy preparado para superar tus expectativas y llevar tu marca al siguiente nivel."/>
        <LayoutSection styles="sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 lg:gap-16 items-stretch">
            {CERTIFICATIONS.map(certification => (
                <CardCertification title={certification.title} description={certification.description} Icon={certification.Icon}/>
            ))}
        </LayoutSection>
    </div>

    <Banner />
</Layout>

